a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

button:disabled{cursor: auto;}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  color: #fff;
  background-color: #343a40;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.nav-link {
  padding: 5px;
  text-decoration: none;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.navactivelink {
  color: #ffffff;
}
.nav-link.router-link-active {
  color: #ffffff;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.search-form-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.08);
  background-image: url('https://image.flaticon.com/icons/svg/149/149852.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
.search-form-button:hover {
  opacity: 1;
}
.search-form-lable {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
.search-form-input {
  display: inline-block;
  max-width: 600px;
  height: 46px;
  font: inherit;
  font-size: 20px;
  border: rgba(0, 0, 0, 0.08) solid 1px;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}
.search-form-input::placeholder {
  font: inherit;
  font-size: 18px;
}

.movie-link {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

.movie-list {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.movie-item {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.movie-item:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.section-movie {
  margin-bottom: 30px;
  margin-left: 25px;
}

.movie-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-title {
  margin: 0;
  padding: 5px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.movie-text {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 12px;
  line-height: 1.33;
}

.movie-details-img{
  width: 250px;
  height: 100%;
  object-fit: cover;
}

  .movie-info{margin: 0;}
  
  .movie-details-title {
    margin: 0 0 10px 0;
    padding: 0;
  }

  .movie-info-list {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  }

.movie-info-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.movie-info-text {
  margin: 0;
  padding: 5px 5px 5px 0;
  font-weight: bold;
}

.movie-about-title {
  margin: 0 0 10px 0;
  padding: 0;
}

.movie-about-text {
  margin: 0;
  padding: 5px 5px 5px 0;
}

@media screen and (min-width: 680px) {
  .section-movie {display: flex;}
  .movie-info{margin: 0 50px;} 
}

.credits-list {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 16px;

  padding: 0;
  margin-left: 25px;
  list-style: none;
}

.credits-item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: rgba(0, 0, 0, 0.08) solid 1px;
}

.credits-error, .reviews-error {
  margin-left: 25px;
  padding: 5px;
  font-weight: bold;
}

.credits-img{
  min-height: 175px;
  object-fit: cover;
}

.peviews-list {
  padding: 0;
  margin-left: 25px;
  list-style: none;
}

.reviews-item {
  padding: 5px;
}

.reviews-title {
  padding: 0;
  margin: 0 0 15px;
}

.reviews-content {
  padding: 0;
  margin: 0 0 15px;
}

.movie-details-link, .movie-details-button {
  display: inline-block;
  min-width: 110px;
  padding: 10px;
  margin-left: 25px;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  border: rgba(0, 0, 0, 0.08) solid 1px;

  background-color: rgba(0, 0, 0, 0.08);
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.movie-details-link:hover {
  opacity: 1;
}

.router-link-active.movie-details-link {
  opacity: 1;
}

.toast-enter-active {
  transition: all 0.3s ease-out;
}

.toast-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.toast-enter-from,
.toast-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.toast-container {
  top: 1em;
  right: 1em;
  z-index: 9999;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff;
}
.toast {
  position: relative;
  min-height: 64px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 2px 15px 0 rgb(0 0 0 / 5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 800px;
  overflow: hidden;
  font-family: sans-serif;
  cursor: pointer;
  background: #e74c3c;
  /* direction: ltr; */
}
.toast-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  align-self: flex-start;
}
.toast-close-button {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
